<!DOCTYPE html>
<html>
	<head>
		<title>RestTester</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<h1> Jolly, Root</h1>
		<%= yield %>
		<h3>This means war!</h3>
	</body>
</html>
